<h3>什么是小程序？</h3>
<blockquote>
    “微信小程序是一种全新的连接用户与服务的方式，它可以
    <span class="fragment highlight-red" data-fragment-index="1">在微信内</span>被
    <span class="fragment highlight-red" data-fragment-index="3">便捷地获取和传播</span>，同时具有
    <span class="fragment highlight-red" data-fragment-index="6">出色的使用体验</span>。”
</blockquote>
<p>
    <span class="fragment fade-in" data-fragment-index="2">基于微信</span>
    <span class="fragment fade-in" data-fragment-index="4">体积小</span>
    <span class="fragment fade-in" data-fragment-index="5">类web</span>
    <span class="fragment fade-in" data-fragment-index="7">媲美原生</span>
</p>