<h2 id="markdown-support">Markdown support</h2>
<p>Write content using inline or external Markdown.
Instructions and more info available in the <a href="https://github.com/hakimel/reveal.js#markdown">readme</a>.</p>
<pre><code><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">section</span> <span class="hljs-attr">data-markdown</span>&gt;</span></span>
  ## Markdown support

  Write content using inline or external Markdown.
  Instructions and more info available in the [<span class="hljs-string">readme</span>](<span class="hljs-link">https://github.com/hakimel/reveal.js#markdown</span>).
<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span></span>
</code></pre>