<h2>申请小程序账号</h2>
<p>
  <svg width="928px" height="501px" viewBox="0 0 928 501">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="slide5-1" transform="translate(-18.000000, -129.000000)">
              <g id="Group" transform="translate(18.000000, 129.000000)">
                  <text id="企业" font-family="PingFangTC-Semibold, PingFang TC" font-size="26" font-weight="500" fill="#273142">
                      <tspan x="282" y="104">企业</tspan>
                  </text>
                  <text id="企业" font-family="PingFangTC-Semibold, PingFang TC" font-size="26" font-weight="500" fill="#273142">
                      <tspan x="281" y="345">企业</tspan>
                  </text>
                  <text id="（可选）" font-family="PingFangTC-Regular, PingFang TC" font-size="26" font-weight="normal" fill="#4A4A4A">
                      <tspan x="257" y="372">（可选）</tspan>
                  </text>
                  <text id="政府" font-family="PingFangTC-Semibold, PingFang TC" font-size="26" font-weight="500" fill="#273142">
                      <tspan x="281" y="400">政府</tspan>
                  </text>
                  <text id="媒体" font-family="PingFangTC-Semibold, PingFang TC" font-size="26" font-weight="500" fill="#273142">
                      <tspan x="281" y="433">媒体</tspan>
                  </text>
                  <text id="组织" font-family="PingFangTC-Semibold, PingFang TC" font-size="26" font-weight="500" fill="#273142">
                      <tspan x="281" y="465">组织</tspan>
                  </text>
                  <path d="M275.728626,98.8596953 L275.728626,98.8596953 C263.873224,108.447031 256.888407,122.804689 256.663087,138.049911 L255.269973,232.308213 C255.105366,243.445506 248.485643,253.472637 238.30874,258 L238.30874,258 C248.455076,262.109496 255.221461,271.818238 255.564783,282.75982 L258.312645,370.333488 C258.743193,384.054929 267.099535,396.278663 279.728626,401.660981" id="Path-2" stroke="#979797" stroke-width="4" fill-rule="nonzero"></path>
                  <path d="M854,330 L854,303 L927.239662,401.924228 L854,500.848457 L854,469 L693,469 L693,330 L854,330 Z" id="Rectangle" fill="#CBC0C6" fill-rule="nonzero"></path>
                  <g id="company-step-2" transform="translate(357.000000, 0.000000)">
                      <path d="M205,27 L205,3.06640274e-14 L278.239662,98.9242283 L205,197.848457 L205,166 L44,166 L44,27 L205,27 Z" id="Rectangle" fill="#E3C0C3" fill-rule="nonzero"></path>
                      <g id="circle" transform="translate(0.000000, 49.000000)">
                          <circle id="Path" fill="#E85D40" fill-rule="nonzero" cx="47.5" cy="47.5" r="47.5"></circle>
                          <text id="2" font-family="PingFangTC-Semibold, PingFang TC" font-size="48" font-weight="500" fill="#FFFFFF">
                              <tspan x="34" y="63">2</tspan>
                          </text>
                      </g>
                      <g id="主体信息" transform="translate(93.000000, 30.000000)" fill="#000000" font-family="PingFangTC-Medium, PingFang TC" font-weight="400">
                          <text font-size="20">
                              <tspan x="24" y="39">主体信息</tspan>
                          </text>
                          <text id="·" font-size="48">
                              <tspan x="0" y="51">·</tspan>
                          </text>
                      </g>
                      <g id="绑定管理员" transform="translate(93.000000, 64.000000)" fill="#000000" font-family="PingFangTC-Medium, PingFang TC" font-weight="400">
                          <text font-size="20">
                              <tspan x="24" y="40">绑定管理员</tspan>
                          </text>
                          <text id="·" font-size="48">
                              <tspan x="0" y="51">·</tspan>
                          </text>
                      </g>
                      <g id="填写对公账号" transform="translate(93.000000, 100.000000)" fill="#000000" font-family="PingFangTC-Medium, PingFang TC" font-weight="400">
                          <text id="·" font-size="48">
                              <tspan x="0" y="51">·</tspan>
                          </text>
                          <text font-size="20">
                              <tspan x="24" y="40">填写对公账号</tspan>
                          </text>
                      </g>
                  </g>
                  <g id="company-step-3" transform="translate(646.000000, 0.000000)">
                      <path d="M205,27 L205,3.06640274e-14 L278.239662,98.9242283 L205,197.848457 L205,166 L44,166 L44,27 L205,27 Z" id="Rectangle" fill="#CBC0C6" fill-rule="nonzero"></path>
                      <g id="circle" transform="translate(0.000000, 49.000000)">
                          <circle id="Path" fill="#80767C" fill-rule="nonzero" cx="47.5" cy="47.5" r="47.5"></circle>
                          <text id="3" font-family="PingFangTC-Semibold, PingFang TC" font-size="48" font-weight="500" fill="#FFFFFF">
                              <tspan x="34" y="63">3</tspan>
                          </text>
                      </g>
                      <text id="向腾讯的对公-账号打款" font-family="PingFangTC-Medium, PingFang TC" font-size="20" font-weight="400" fill="#000000">
                          <tspan x="106" y="90">向腾讯的对公</tspan>
                          <tspan x="126" y="118">账号打款</tspan>
                      </text>
                  </g>
                  <g id="step1" transform="translate(0.000000, 159.000000)">
                      <path d="M152,27 L152,1.64531726e-14 L225.239662,98.9242283 L152,197.848457 L152,166 L48,166 L48,27 L152,27 Z" id="Rectangle" fill="#E8CDBA" fill-rule="nonzero"></path>
                      <text id="邮箱" font-family="PingFangTC-Medium, PingFang TC" font-size="24" font-weight="400" fill="#000000">
                          <tspan x="106" y="84">邮箱</tspan>
                      </text>
                      <text id="密码" font-family="PingFangTC-Medium, PingFang TC" font-size="24" font-weight="400" fill="#000000">
                          <tspan x="106" y="135">密码</tspan>
                      </text>
                      <g id="circle" transform="translate(0.000000, 50.000000)">
                          <circle id="Path" fill="#F5A623" fill-rule="nonzero" cx="47.5" cy="47.5" r="47.5"></circle>
                          <text id="1" font-family="PingFangTC-Semibold, PingFang TC" font-size="48" font-weight="500" fill="#FFFFFF">
                              <tspan x="38" y="63">1</tspan>
                          </text>
                      </g>
                  </g>
                  <g id="others-step-2" transform="translate(357.000000, 302.000000)">
                      <path d="M205,27 L205,3.06640274e-14 L278.239662,98.9242283 L205,197.848457 L205,166 L44,166 L44,27 L205,27 Z" id="Rectangle" fill="#E3C0C3" fill-rule="nonzero"></path>
                      <g id="circle" transform="translate(0.000000, 50.000000)">
                          <circle id="Path" fill="#E85D40" fill-rule="nonzero" cx="47.5" cy="47.5" r="47.5"></circle>
                          <text id="2" font-family="PingFangTC-Semibold, PingFang TC" font-size="48" font-weight="500" fill="#FFFFFF">
                              <tspan x="34" y="63">2</tspan>
                          </text>
                      </g>
                      <g id="主体信息" transform="translate(93.000000, 48.000000)" fill="#000000" font-family="PingFangTC-Medium, PingFang TC" font-weight="400">
                          <text font-size="20">
                              <tspan x="24" y="39">主体信息</tspan>
                          </text>
                          <text id="·" font-size="48">
                              <tspan x="0" y="51">·</tspan>
                          </text>
                      </g>
                      <g id="绑定管理员" transform="translate(93.000000, 82.000000)" fill="#000000" font-family="PingFangTC-Medium, PingFang TC" font-weight="400">
                          <text font-size="20">
                              <tspan x="24" y="40">绑定管理员</tspan>
                          </text>
                          <text id="·" font-size="48">
                              <tspan x="0" y="51">·</tspan>
                          </text>
                      </g>
                  </g>
                  <g id="circle" transform="translate(646.000000, 354.000000)">
                      <circle id="Path" fill="#80767C" fill-rule="nonzero" cx="47.5" cy="47.5" r="47.5"></circle>
                      <text id="3" font-family="PingFangTC-Semibold, PingFang TC" font-size="48" font-weight="500" fill="#FFFFFF">
                          <tspan x="34" y="63">3</tspan>
                      </text>
                  </g>
                  <text id="注册并认证" font-family="PingFangTC-Medium, PingFang TC" font-size="20" font-weight="400" fill="#000000">
                      <tspan x="757" y="406">注册并认证</tspan>
                  </text>
              </g>
          </g>
      </g>
  </svg>
</p>