<h2>View - Components</h2>
<p>
    <span>&lt;view&gt;</span>
    <span>&lt;scroll-view&gt;</span>
    <span>&lt;swiper&gt;</span>
    <span>&lt;movable-view&gt;</span>
    <span>&lt;cover-view&gt;</span>
    <span>&lt;icon&gt;</span>
    <span>&lt;text&gt;</span>
    <span>&lt;rich-text&gt;</span>
    <span>&lt;progress&gt;</span>
    <span>&lt;button&gt;</span>
    <span>&lt;checkbox&gt;</span>
    <span>&lt;form&gt;</span>
    <span style="color: red">&lt;input&gt;</span>
    <span>&lt;label&gt;</span>
    <span>&lt;picker&gt;</span>
    <span>&lt;picker-view&gt;</span>
    <span>&lt;radio&gt;</span>
    <span>&lt;slider&gt;</span>
    <span>&lt;switch&gt;</span>
    <span style="color: red">&lt;textarea&gt;</span>
    <span>&lt;label&gt;</span>
    <span>&lt;navigator&gt;</span>
    <span>&lt;audio&gt;</span>
    <span>&lt;image&gt;</span>
    <span style="color: red">&lt;video&gt;</span>
    <span style="color: red">&lt;camera&gt;</span>
    <span style="color: red">&lt;live-player&gt;</span>
    <span style="color: red">&lt;live-pusher&gt;</span>
    <span style="color: red">&lt;map&gt;</span>
    <span style="color: red">&lt;canvas&gt;</span>
    <span>&lt;open-data&gt;</span>
    <span>&lt;web-view&gt;</span>
    <span>&lt;ad&gt;</span>
</p>