<h2>渲染引擎</h2>
<ol>
    <li class="fragment fade-left">HTML -> DOM 树。</li>
    <li class="fragment fade-left">CSS -> CSSOM 树。</li>
    <li class="fragment fade-left">DOM + CSSOM = 渲染树。</li>
    <li class="fragment fade-left">Layout</li>
    <li class="fragment fade-left">绘制(栅格化) -> 屏幕</li>
</ol>
<aside class="notes">
    <ol>
        <li>处理 HTML 标记并构建 DOM(<span style="color: red">文档对象模型</span>) 树。</li>
        <li>处理 CSS 标记并构建 CSSOM(<span style="color: red">CSS对象模型</span>) 树。</li>
        <li>将 DOM 与 CSSOM 合并成一个渲染树。</li>
        <li>根据渲染树来布局，以计算每个节点的几何信息。</li>
        <li>将各个节点绘制到屏幕上。</li>
    </ol>
</aside>